*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #eaecec;
    padding: 10px;
    
}

button.home {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #3d3d3d;
    cursor: pointer;
}

button.home:hover {
    color: #02644f;
}

div.logofull {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #02644f;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.title-login {
    font-size: 2rem;
    font-weight: bold;
    color: #02644f;
}

.title-login h3 {
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #02644f;
    color: #fff;
    cursor: pointer;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;
    height: 90%;
    margin: 30px;
    border-radius: 10px;
}

.login3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    padding-left: 180px;
    padding-right: 60px;
}

div.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}

.logintitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.subtitle-login {
   text-wrap: wrap;
}

form button {
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #02644f;
    color: #fff;
    cursor: pointer;
    min-width: 90%;
}

.form h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #02644f;
}

div.form2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    min-width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}

form button {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}